footer {
  background-color: #690375;
  padding: 2rem 0;
  width: 100%;
}

ul.footer {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15rem;

}

ul.footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

